.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.form {
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.form-card {
    margin-top: -100px;
    width: 600px;
    height: 600px;
    background-color: #fafafa;
    border-radius: 4px;
    box-shadow: 0px 0px 17px 6px rgba(0,0,0,0.24);
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;}

.title {
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    color: #333;
    font-size: 30px;
}

.btn {
    margin-top: 80px;
    background-color: #405cf5;
    border-radius: 6px;
    border-width: 0;
    box-shadow: rgba(50, 50, 93, .1) 0 0 0 1px inset,rgba(50, 50, 93, .1) 0 2px 5px 0,rgba(0, 0, 0, .07) 0 1px 1px 0;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    font-size: 100%;
    height: 44px;
    line-height: 1.15;
    width: 200px;
}

.btn:disabled,
.btn[disabled]{
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
}

// css input 
.form__group {
    position: relative;
    padding: 15px 0 0;
    margin-top: 10px;
    width: 50%;
  }
  
  .form__field {
    font-family: inherit;
    width: 100%;
    border: 0;
    border-bottom: 2px solid gray;
    outline: 0;
    font-size: 1.3rem;
    color: #333;
    padding: 7px 0;
    background: transparent;
    transition: border-color 0.2s;
  
    &::placeholder {
      color: transparent;
    }
  
    &:placeholder-shown ~ .form__label {
      font-size: 1.3rem;
      cursor: text;
      top: 20px;
    }
  }
  
  .form__label {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 1rem;
    color: gray;
  }
  
  .form__field:focus {
    ~ .form__label {
      position: absolute;
      top: 0;
      display: block;
      transition: 0.2s;
      font-size: 1rem; 
    }

    padding-bottom: 6px;  
    border-width: 3px;
    border-image-slice: 1;
  }
  /* reset input */
  .form__field{
    &:required,&:invalid { box-shadow:none; }
  }
  