<section class="container">
  
  <!--CARD-->
  <div class="form-card">
      <h1 class="title">Reactive Forms</h1>

      <form class="form">
        <div class="form__group field">
          <input type="input" class="form__field" placeholder="Nombre" />
          <label for="Nombre" class="form__label">Nombre</label>
        </div>
  
        <div class="form__group field">
          <input type="input" class="form__field" placeholder="Edad" />
          <label for="Edad" class="form__label">Edad</label>
        </div>
  
        <div class="form__group field">
          <input type="input" class="form__field" placeholder="Empresa" />
          <label for="Empresa" class="form__label">Empresa</label>
        </div>
  
        <div class="form__group field">
          <input type="input" class="form__field" placeholder="Email" />
          <label for="Email" class="form__label">Email</label>
        </div>
     
        <button class="btn" [disabled]="false"> Enviar Formulario </button>
      </form>
     
  </div>

</section>
